<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaxOfficeActivityWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Деятельность налоговой службы</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Главный бухгалтер") || User.IsInRole("Директор"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="Index">Виды деятельности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Entrepreneurs" asp-action="Index">Предприниматели</a>
                            </li>
                        }
                        @if (User.IsInRole("Директор"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="Index">Районы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TaxOffices" asp-action="Index">Офисы</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ActivitiesAccounting" asp-action="Index">Деятельность предпринимателей</a>
                            </li>
                        }
                        @if (User.IsInRole("Главный бухгалтер"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Отчёты</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="row, text-sm-center">
            @if (User.Identity.IsAuthenticated)
             {
                @User.Identity.Name
                @if(User.IsInRole("Директор"))
                {                    
                    <a class="btn btn-outline-dark" asp-controller="Users" asp-action="Index">Список пользователей</a>
                }
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-outline-dark" type="submit" value="Выход" />
                </form>
             }
             else
             {
                <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Вход</a>
             }
        </div>
           
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
