@model TaxOfficeActivityWebApp.ActivityAccounting

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение</h1>

<h4>Деятельность предпринимателя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivityAccountingId" />
            <div class="form-group">
                <label asp-for="EntrepreneurId" class="control-label">ФИО предпринимателя</label>
                <select asp-for="EntrepreneurId" class="form-control" asp-items="ViewBag.EntrepreneurId"></select>
                <span asp-validation-for="EntrepreneurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label">Вид деятельности</label>
                <select asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityId"></select>
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quarter" class="control-label"></label>
                <input asp-for="Quarter" class="form-control" />
                <span asp-validation-for="Quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTaxPaid" class="control-label"></label>
                <select asp-for="IsTaxPaid" class="form-control">
                    <option value="True">Да</option>
                    <option value="False">Нет</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
